:root {
  --alto: #ffffff;
  --white: rgb(255, 255, 255);
  --font-size-m: 36px;
  --font-family-inter: "Inter";
}

.rectangle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.rectangle-i {
  background-color: var(--white);
  border-radius: 0.75rem;
  /* Equivalent to 12px */
  height: 2.6875rem;
  /* Equivalent to 43px */
  margin-top: 5%;
  width: 5.0625rem;
  /* Equivalent to 81px */
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.197);
  border: 0.0925rem solid rgba(255, 251, 251, 0.589);
  /* Equivalent to 1px */
}
.rectangle-i:hover {
  box-shadow: 0 0 17px 7px rgb(255, 3, 3);
}
.rectangle-i:hover img {
  animation: shakeAnimation 0.5s infinite;
}
.rectangle-i:hover img {
  animation: shakeAnimation 0.5s infinite;
}

@keyframes shakeAnimation {
  0% { transform: translateX(0); }
  10% { transform: translateX(5px) rotate(5deg);}
  20% { transform: translateX(0);  }
  30% { transform: translateX(-5px) rotate(-5deg); }
  40% { transform: translateX(0);  }
  50% { transform: translateX(5px) rotate(5deg); }
  60% { transform: translateX(0);  }
  70% { transform: translateX(5px) rotate(5deg); }
  80% { transform: translateX(0);  }
  90% { transform: translateX(-5px) rotate(-5deg);}
  
  100% { transform: translateX(0) rotate(5deg); }
}

.console-viewer {
  position: fixed;
  bottom: 200px; /* Adjust the initial position as needed */
  right: 200px; /* Adjust the initial position as needed */
  z-index: 9999;
  background-color: #ffffff56;
  border: 3px solid lime;
  border-radius: 35px;
  padding: 10px;
  
  cursor: move;
  width: 300px;
  height: 300px;
  /* Enable resizing */
  overflow: auto;
}
.dark-mode .console-viewer{
  background-color: #0000006b;
  border: 3px solid rgb(0, 255, 162);
  color: lime;

}
.screen {
  max-width: 100%;
  margin: 0 auto;
  padding: 2px;
  max-height: 100vh;
  overflow: auto;
  /* Add overflow property to enable scroll bar */
}


@keyframes p9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%
  }

  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%
  }

  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%
  }
}

.desktop-1 {
  margin: 0 auto;
  /* Center the website horizontally */
  max-width: 100%;
  /* Limit the maximum width */
}

.textbox::placeholder {
  color: black /* Set the desired opacity for the placeholder text */
}

@import url("https://fonts.googleapis.com/css?family=Inter:400");

.desktop-1 {
  align-items: flex-start;
  background-image: url("https://th.bing.com/th/id/OIP.ezTcvZxUya5hipRNHxDFEwHaEK?pid=ImgDet&rs=1");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  backdrop-filter: blur(10px);

  display: flex;
  gap: 16px;

  padding: 17px 26px;

}

.textbox::placeholder {
  color: white;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.flex-col {
  flex-direction: column;
  gap: 9.25rem;
  /* Equivalent to 148px */
  margin-left: 10px;
  margin-top: 1rem;
  /* Equivalent to 16px */
  min-height: 50rem;
  /* Equivalent to 800px */
  width: 14.75rem;
  /* Equivalent to 236px */
}

.desktop-1 .flex {
  align-items: flex-start;
  display: flex;
}
.dark-mode .desktop-1 {
  background-image: url("https://static.vecteezy.com/system/resources/previews/008/749/872/non_2x/gradient-liquid-abstract-background-design-dark-blue-background-with-wavy-fluid-shapes-futuristic-design-vector.jpg")
  /* Change the background color to a darker shade */
  
}
.dark-mode .rectangle-6{
  background-image: radial-gradient(circle, #00f4b3, #0051ff);
  border: 0.0925rem solid rgb(255, 255, 255);
  color : lime;
}
.overlap-group {
  align-items: flex-start;
  border-radius: 0.75rem;
  /* Equivalent to 12px */
  display: flex;
  flex-direction: column;
  min-height: 6.25rem;
  /* Equivalent to 100px */
  /* Equivalent to 20px 50px */
  width: 1.875rem;
  /* Equivalent to 110px */
}

.rectangle-14 {

  height: 3.125rem;
  /* Equivalent to 50px */
  margin-top: 2.1875rem;
  /* Equivalent to 35px */
  width: 3.125rem;
  /* Equivalent to 50px */
  border-radius: 1.5625rem;
  /* Equivalent to 25px */
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  border-color: #000000;
}

.rectangle-13 {
  background-color: var(--alto);
  margin-top: 2.1875rem;
  /* Equivalent to 35px */
  width: 3.125rem;
  /* Equivalent to 50px */
  height: 3.125rem;
  /* Equivalent to 50px */
  border-radius: 1.5625rem;
  /* Equivalent to 25px */
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.animation-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blur-background {
  filter: blur(5px);
}

.rectangle-13 i {
  font-size: 1.25rem;
  /* Equivalent to 20px */

  margin-right: 0.3125rem;
  /* Equivalent to 5px */

}

.rectangle-1 {

  margin-top: 2.1875rem;
  /* Equivalent to 35px */
  width: 3.125rem;
  /* Equivalent to 50px */
  height: 3.125rem;
  /* Equivalent to 50px */
  border-radius: 1.5625rem;
  /* Equivalent to 25px */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.title {


  letter-spacing: 0;
  line-height: normal;

  height: 10px;

  margin-top: 2px;
  margin-left: -5px;
  width: 10px;
  text-align: justify;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.message-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.message-box h2 {
  margin-top: 0;
}

.close-btn {
  display: block;
  margin-top: 20px;
  text-align: center;
 
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 54.0625rem;
  /* Equivalent to 865px */
  width: 70.3125rem;
  margin-right: -10px;
  /* Equivalent to 1125px */
}

.rectangle-3 {

  border-radius: 1.5625rem;
  /* Equivalent to 25px */
  height: 28.125rem;
  /* Equivalent to 450px */
  margin-top: 1.125rem;
  /* Equivalent to 18px */
  width: 21.875rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.8);

  /* Equivalent to 350px */
  background-color: rgba(0, 0, 0, 0.316);
}

.flex-row {
  align-self: flex-end;
  gap: 1.0625rem;
  /* Equivalent to 33px */
  min-width: 13.9375rem;
  margin-right: 12px;
  /* Equivalent to 223px */
}

.rectangle-1-1 {

  border-radius: 0.75rem;
  /* Equivalent to 12px */
  height: 2.5rem;
  /* Equivalent to 40px */
  width: 2.5rem;
  /* Equivalent to 40px */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.6s ease-in-out;
  background-color: rgba(0, 0, 0, 0.226);
  border: 0.0625rem solid rgba(255, 255, 255, 0.589);
}

.symbol-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-1-1:hover {
  animation: glow-animation 1s infinite alternate;
  /* Start the glow animation on hover */
}

@keyframes glow-animation {
  0% {
    box-shadow: 0 0 25px 10px rgba(255, 0, 0, 0.7);
    /* Initial box-shadow */
  }

  50% {
    box-shadow: 0 0 25px 10px rgba(55, 255, 0, 0.9);
    /* Intermediate box-shadow */
  }

  100% {
    box-shadow: 0 0 25px 10px rgba(0, 0, 255, 0.7);
    /* Final box-shadow */
  }
}

.flex-row-1 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  gap: 0.6875rem;
  /* Equivalent to 27px */
  margin-right: 10px;
  /* Equivalent to 115px */
  margin-top: 2.3125rem;
  /* Equivalent to 69px */
  min-width: 25.3125rem;
  /* Equivalent to 405px */
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image : url("https://cdn.dribbble.com/users/121337/screenshots/1309485/loading.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
}

#video-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000bc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-box {
  background-color: rgba(0, 0, 0, 0.671);
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.message-box h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: lime;
}

.message-box p {
  font-size: 18px;
  margin-bottom: 30px;
  font-family: 'Bangers', cursive;
  font-size: 24px;
}

.close-btn {
  background-color: #00000028;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.close-btn:hover {
  background-color: #2c1dff5c;
  border: 2px solid lime;
}

.rectangle {
  background-color: var(--white);
  border-radius: 0.75rem;
  /* Equivalent to 12px */
  height: 2.6875rem;
  /* Equivalent to 43px */
  margin-top: 5%;
  width: 5.0625rem;
  /* Equivalent to 81px */
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.197);
  border: 0.0925rem solid rgba(255, 251, 251, 0.589);
  /* Equivalent to 1px */
}

.flex-row-2 {
  align-self: center;
  display: flex;
  margin-right: 1.375rem;
  /* Equivalent to 22px */
  margin-top: 1.125rem;
  /* Equivalent to 18px */
  min-width: 67.3125rem;
  /* Equivalent to 1077px */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5625rem;
  /* Equivalent to 25px */


}

.rectangle-6 {
  border-radius: 0.75rem;
  /* Equivalent to 12px */
  height: 2rem;
  /* Equivalent to 32px */
  margin-left: 1.125rem;
  /* Equivalent to 18px */
  width: 100px;
  /* Equivalent to 700px */
  background-image: rgba(0, 0, 0, 0.207);
  border: 0.0925rem solid rgba(255, 255, 255, 0.9);
}


.rectangle-4 {
  background-color: var(--white);
  border-radius: 0.75rem;
  /* Equivalent to 12px */
  height: 2.6875rem;
  /* Equivalent to 43px */
  width: 5.0625rem;
  /* Equivalent to 81px */
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.197);
  border: 0.0625rem solid rgba(255, 251, 251, 0.589);
}

.rectangle-5 {
  background-color: var(--white);
  border-radius: 0.75rem;
  /* Equivalent to 12px */
  height: 2.6875rem;
  /* Equivalent to 43px */
  width: 5.0625rem;
  /* Equivalent to 81px */
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.197);
  border: 0.0625rem solid rgba(255, 251, 251, 0.589);
}

.rectangle-2 {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 6.75rem;

  height: 28.125rem;
  /* Equivalent to 450px */

  margin-top: 1.125rem;
  /* Equivalent to 18px */
  width: 40.625rem;
  /* Equivalent to 650px */
  margin-right: 6.25rem;

  flex: 1;
}

.code-editor {
  display: flex;
}

.line-numbers {
  counter-reset: line;
  width: 30px;
  padding: 10px;
  text-align: right;
  border-right: 1px solid #ccc;
  background-color: #f00b0bdf;
  user-select: none;
  font-family: monospace;
}

.textbox {
  flex: 1;
  padding: 10px;
  font-family: monospace;
  resize: none;
}


.dark-mode .rectangle-2 {
  background-color: rgba(0, 0, 0, 0.399);
  color: lime;

  border: 0.0625rem solid rgba(0, 0, 0, 0.8);


}

.dark-mode .rectangle-3 {
  background-color: rgba(0, 0, 0, 0.386);
  border: 0.1rem solid rgba(255, 255, 255, 0.589);
  color: lime;

}


.image-container {
  max-width: 50%;
  height: auto;
}

.image-container img {
  max-width: 50%;
  height: auto;
}


.rectangle-1-1 button {
  width: 40px;
  border-radius: 25%;
  height: 40px;
}


.rectangle-13:hover {
  box-shadow: 0 0 10px 10px rgb(0, 187, 255);
}

.rectangle-1:hover {
  box-shadow: 0 0 10px 10px rgb(0, 187, 255);
}

.rectangle-14:hover {
  box-shadow: 0 0 10px 10px rgb(0, 187, 255);
}

.rectangle-5:hover {
  box-shadow: 0 0 10px 10px rgb(0, 187, 255);
}

.rectangle-4:hover {
  box-shadow: 0 0 10px 10px rgb(0, 187, 255);
}

.rectangle:hover {
  box-shadow: 0 0 7px 7px lime;
}

.dark-mode .rectangle-13:hover,
.dark-mode .rectangle-1:hover,
.dark-mode .rectangle-14:hover {
  box-shadow: 0 0 10px 10px rgb(55, 255, 0);
}

.dark-mode .rectangle-5:hover {
  box-shadow: 0 0 10px 10px rgba(55, 255, 0);
}

.dark-mode .rectangle-4:hover {
  box-shadow: 0 0 10px 10px rgba(55, 255, 0);
}

.dark-mode .rectangle:hover {
  box-shadow: 0 0 5px 5px rgb(27, 27, 253);
}





.textbox {
  resize: none;
}

.overlap-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  margin-left: 75px;
}



.pair {
  display: flex;
  gap: 16px;
}

a {
  color: white;
}


.textarea-container {
  position: relative;


  display: flex;
  flex-wrap: wrap;
}








/* Media query for 768px to 1028px */
@media (min-width: 767px) and (max-width: 1023px) {
  .rectangle-2 {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.75rem;
    /* Equivalent to 12px */
    height: 31.25rem;
    /* Equivalent to 500px */
    margin-top: 5.25rem;
    /* Equivalent to 18px */
    width: 25rem;
    /* Equivalent to 400px */
    margin-right: 1.25rem;
    /* Equivalent to 20px */
    flex: 1;
  }

  .textboxes-container {
    display: flex;
    flex-direction: column;
  }

  .loader-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .flex-col {
    flex-direction: column;
    gap: 9.25rem;
    /* Equivalent to 148px */
    margin-left: 0.01rem;
    /* Equivalent to 11px */
    margin-top: 0.1rem;
    /* Equivalent to 16px */
    height: 18.75rem;
    /* Equivalent to 300px */
    width: 14.75rem;
    /* Equivalent to 236px */
  }

  .rectangle-3 {
    background-color: rgba(255, 255, 255, 0.125);
    border-radius: 1.5625rem;
    /* Equivalent to 25px */
    height: 31.25rem;
    /* Equivalent to 500px */
    margin-top: 5.125rem;
    /* Equivalent to 18px */
    width: 15.625rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.8);
    color: lime;
    /* Equivalent to 250px */
  }


  .rectangle-6 {
    border-radius: 0.75rem;
    /* Equivalent to 12px */
    height: 2rem;
    /* Equivalent to 32px */
    margin-left: 1.125rem;
    /* Equivalent to 18px */
    width: 20.5rem;
    /* Equivalent to 400px */
    height: 4.6875rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.8);
    /* Equivalent to 75px */
    background-color: rgba(255, 255, 255, 0.4);
  }

  .flex-row-2 {
    align-self: center;
    display: flex;
    margin-top: 1.125rem;
    /* Equivalent to 18px */
    min-width: 12.5rem;
    /* Equivalent to 200px */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5625rem;
    /* Equivalent to 25px */
  }

  .flex-row-1 {
    align-items: center;
    display: flex;
    gap: 0.3125rem;
    /* Equivalent to 5px */
    margin-right: -3.3125rem;
    /* Equivalent to 5px */

    min-width: 25.625rem;
    /* Equivalent to 405px */
  }
}

@media (min-width: 1024px) and (max-width: 1156px) {



  .textboxes-container {
    display: flex;
    flex-direction: column;
  }

  .flex-col {
    flex-direction: column;
    gap: 12.25rem;
    /* Equivalent to 148px */
    margin-left: 0.01rem;
    /* Equivalent to 11px */
    margin-top: 0.1rem;
    /* Equivalent to 16px */
    height: 18.75rem;
    /* Equivalent to 300px */
    width: 14.75rem;
    /* Equivalent to 236px */
  }

  .rectangle-3 {
    background-color: rgba(255, 255, 255, 0.126);
    border-radius: 1.5625rem;
    /* Equivalent to 25px */
    height: 31.25rem;
    /* Equivalent to 500px */
    margin-top: 5.125rem;
    /* Equivalent to 18px */
    width: 20.625rem;
    /* Equivalent to 250px */
    margin-right: 1px;
    color: lime;
  }


  .rectangle-6 {
    border-radius: 0.75rem;
    /* Equivalent to 12px */
    height: 2rem;
    /* Equivalent to 32px */
    margin-left: 1.125rem;
    /* Equivalent to 18px */
    width: 25.5rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.8);
    /* Equivalent to 400px */
    height: 4.6875rem;
    /* Equivalent to 75px */
    background-color: rgba(255, 255, 255, 0.4);
  }

  .flex-row-2 {
    align-self: center;
    display: flex;
    margin-top: 1.125rem;
    /* Equivalent to 18px */
    min-width: 12.5rem;
    /* Equivalent to 200px */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5625rem;
    /* Equivalent to 25px */
  }

  .flex-row-1 {
    align-items: center;
    display: flex;
    gap: 0.3125rem;
    /* Equivalent to 5px */
    margin-right: -3.3125rem;
    /* Equivalent to 5px */

    min-width: 25.625rem;
    /* Equivalent to 405px */
  }

  .desktop-1 {
    background-image: url("https://th.bing.com/th/id/OIP.ezTcvZxUya5hipRNHxDFEwHaEK?pid=ImgDet&rs=1");
    background-size: cover;



    backdrop-filter: blur(10px);

    display: flex;


  }





}

@media (min-width: 1157px) and (max-width: 2440px) {


  .rectangle-2 {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.75rem;
    /* Equivalent to 12px */
    height: 31.25rem;
    /* Equivalent to 500px */
    margin-top: 5.25rem;
    /* Equivalent to 18px */
    width: 35rem;
    /* Equivalent to 400px */
    margin-right: 1.25rem;
    /* Equivalent to 20px */
    flex: 1;
  }

  .textboxes-container {
    display: flex;
    flex-direction: column;
  }

  .flex-col {
    flex-direction: column;
    gap: 9.25rem;
    /* Equivalent to 148px */
    margin-left: 0.01rem;
    /* Equivalent to 11px */
    margin-top: 0.1rem;
    /* Equivalent to 16px */
    height: 18.75rem;
    /* Equivalent to 300px */
    width: 14.75rem;
    /* Equivalent to 236px */
  }


  .rectangle-3 {
    background-color: rgba(255, 255, 255, 0.126);
    border-radius: 1.5625rem;
    /* Equivalent to 25px */
    height: 31.25rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.8);
    /* Equivalent to 500px */
    margin-top: 5.125rem;
    /* Equivalent to 18px */
    width: 27.625rem;
    color: lime;
    /* Equivalent to 250px */
  }


  .rectangle-6 {
    border-radius: 0.75rem;
    /* Equivalent to 12px */
    height: 2rem;
    /* Equivalent to 32px */
    margin-left: 1.125rem;
    /* Equivalent to 18px */
    width: 25.5rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.8);
    /* Equivalent to 400px */
    height: 5rem;
    /* Equivalent to 75px */
    background-color: rgba(255, 255, 255, 0.4);
  }

  .flex-row-2 {
    align-self: center;
    display: flex;
    margin-top: 1.125rem;
    /* Equivalent to 18px */
    min-width: 12.5rem;
    /* Equivalent to 200px */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5625rem;
    /* Equivalent to 25px */
  }

  .flex-row-1 {
    align-items: center;
    display: flex;
    gap: 0.3125rem;
    /* Equivalent to 5px */
    margin-right: -3.3125rem;
    /* Equivalent to 5px */

    min-width: 25.625rem;
    /* Equivalent to 405px */
  }
}
