<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.js"></script>
    <link rel="stylesheet" href="static/neon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="left-orbs">
        <div class="orb orb1"></div>
        <div class="orb orb2"></div>
    </div>
    <div class="right-orbs">
        <div class="orb orb3"></div>
        <div class="orb orb4"></div>
    </div>
    <!-- --------------------main------------------ -->
    <div class="main">
        <div class="main-top-axis">
            <div class="logo">
                Compiler
            </div>
            <div class="top-btn">

                <div class="switch">
                    <label class="ui-switch">
                        <input type="checkbox">
                        <div class="slider">
                            <div class="circle"></div>
                        </div>
                    </label>
                </div>
                <div class="user-p">
                    <i class="fa-solid fa-user"></i>
                </div>

            </div>

        </div>
        <div class="main-content">
            <div class="first">
                <i class="fa-brands fa-python language-icon" data-lang="python" style="color: #ffffff;"></i>
                <i class="fa-brands fa-java language-icon" data-lang="java"></i>
                <i class="devicon-cplusplus-plain icon cpp language-icon" data-lang="cpp"></i>
                <i class="fa-solid fa-c language-icon" data-lang="c"></i>
            </div>
            <div class="scnd">
                <div class="input-head">
                    <h3>Input</h3>
                    <div class="file">
                        <i class="fa-solid fa-file-import"></i>
                    </div>
                    <div class="cpy">
                        <i class="fa-solid fa-copy"></i>
                    </div>
                    <div class="save">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </div>
                    <div class="run-btn">
                        <button class="button" onclick="runCode()">
                            <span>Run</span>
                        </button>
                    </div>
                </div>
                <div class="input">
                    <div class="card">
                        <div id="editor"></div>
                    </div>
                </div>
            </div>
            <div class="thrd">
                <div class="output-head">
                  
                    <h3>Output</h3>
                    <div class="dlt">
                        <button class="bin-button">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 39 7" class="bin-top">
                                <line stroke-width="4" stroke="white" y2="5" x2="39" y1="5"></line>
                                <line stroke-width="3" stroke="white" y2="1.5" x2="26.0357" y1="1.5" x1="12"></line>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 33 39" class="bin-bottom">
                                <mask fill="white" id="path-1-inside-1_8_19">
                                    <path d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z">
                                    </path>
                                </mask>
                                <path mask="url(#path-1-inside-1_8_19)" fill="white"
                                    d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z">
                                </path>
                                <path stroke-width="4" stroke="white" d="M12 6L12 29"></path>
                                <path stroke-width="4" stroke="white" d="M21 6V29"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 89 80" class="garbage">
                                <path fill="white"
                                    d="M20.5 10.5L37.5 15.5L42.5 11.5L51.5 12.5L68.75 0L72 11.5L79.5 12.5H88.5L87 22L68.75 31.5L75.5066 25L86 26L87 35.5L77.5 48L70.5 49.5L80 50L77.5 71.5L63.5 58.5L53.5 68.5L65.5 70.5L45.5 73L35.5 79.5L28 67L16 63L12 51.5L0 48L16 25L22.5 17L20.5 10.5Z">
                                </path>
                            </svg>
                        </button>

                    </div>
                </div>
                <div class="output"></div>

            </div>
        </div>
        <div class="main-bottom-axis">

        </div>
    </div>

    <script src="static/neon.js"></script>
    <script src="static/script.js"></script>
</body>

</html>
